#root {
    min-width: 320px;
}

/* 공통 css */
.fx-align-center {
    display: flex;
    align-items: center;
}
.fx-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 이미지 지속 회전 */
.rotate {
    animation: rotation 8s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}